body{
  background: url('./imgs/web.gif') ;
  image-rendering: pixelated;
}
.App {
  text-align: center;
}
.loanding{
  background: transparent;
}

.title-app{
  padding-top: 20px;
  font-size: 30px;
  width: 60%;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;

}
.Card {
  width: 30%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 15px;
  border: 3px solid black;
  box-shadow: 3px 3px 3px 4px #8b8888;
  border-radius: 10%;
 min-height: 500px;
  font-family: cursive;
  background: gainsboro;
  position: relative;

}
.country{
  font-size: 17px;
}

.temperature {
  font-size: 3em;
  box-shadow: 3px 3px 3px 4px #8b8888;
  width: 50%;
  margin: 0 auto;
  min-width: 130px;
  border-radius: 10%;
}
.container {
  padding: 10%;
}
.elementOne {
  position: absolute;
  left: 0;
  padding: 10px;
}
.elementOne::first-letter {
  text-transform: uppercase;
}
.elementTwo {
  /* grid-column: 3/4;
 */
  position: absolute;
  right: 0;
  padding: 10px;
}
.elementTwo::first-letter {
  text-transform: uppercase;
}
.elementThree {
  /* grid-column: 1/2; */
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
}
.elementThree::first-letter {
  text-transform: uppercase;
}
.elementFour {
  grid-column: 3/4;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.elementFour::first-letter {
  text-transform: uppercase;
}
.elementFive {
  height: 100px;
  margin: 15px auto;
  border-radius: 10%;
  cursor: pointer;
  font-size: 80%;
  font-family: cursive;
  width: 35%;
}
.elementFive::first-letter {
  text-transform: uppercase;
}
.elementFive:active {
 background: black;
 color: #fff;
}